/*通用样式*/
* { margin: 0; padding: 0; }
body { font: normal 14px/24px Microsoft Yahei,Arail; color: #666; /*overflow-x: hidden;*/ }
img { border: none; font-size: 0; vertical-align: top; }
h1, h2, h3, h4, h5 { font-weight: normal; }
input { outline: none; border: none; }
li { list-style-type: none; }
a { text-decoration: none; color: #666; }
.middle { position:relative;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); }

.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.fl { float: left; }
.fr { float: right; }
.abs { position: absolute; }
.rlt { position: relative; }
.hide { display: none; }
.show { display: block; }
.container { width: 1200px; margin: 0 auto; }
/*字体图标*/
@font-face { font-family: "iconfont"; src: url('../font/iconfont.eot'); /* IE9*/ src: url('../font/iconfont.eot@#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ }

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.icon-xiala:before { content: "\e697"; }
.icon-sousuo:before { content: "\e627"; }
.icon-fanhui:before { content: "\e607"; }
.icon-shaixuan:before { content: "\e610"; }
.icon-weizhi:before { content: "\e64d"; }

/*首页样式*/
header { height: 50px; line-height: 50px; background-color: #339EE2; color: white; padding: 0 10px; }


/*主体内容*/
.main {width:96%; max-width:1240px;margin:0px auto;}


.head { width: 100%; max-width: 100%; height: auto; min-height: 160px; z-index: 2; }
.qrc { width: 200px; height: 200px; left: 50%; margin-left: -100px; top: 50%; margin-top: -100px; transform: rotateY(180deg); -webkit-transform: rotateY(180deg); z-index: 1; }


footer{width:100%;text-align:center;height:50px;clear:both;padding-bottom:80px;}
footer p{font-size:14px;color:#333;}
/*确认翻转提示*/
.confirm { background-color: rgba(0,0,0,.6); width: 100%; height: 100%; left: 0; top: 0; padding: 0 10px; box-sizing: border-box; text-align: left; color: white; z-index: 3; }
.confirm p { margin-bottom:10px; }
.confirm a { color: white; padding: 10px 20px;}
.sure { background-color: #339EE2; margin-right: 10px; }
.cancel { background-color: darkgray; }

.publish { position: fixed; left: 0; bottom: 0; background-color: #339EE2; text-align: center; width: 100%; height: 50px; line-height: 50px; font-size: 16px; transition: all .5s; -webkit-transition: all .5s; }
.publish a { color: white; display: block; height: 100%; }
/*遮罩层*/
.dark { width: 100%; height: 100%; background-color: rgba(0,0,0,.6); position: fixed; left: 0; top: 0; transition: all .5s; -webkit-transition: all .5s; }
.wrap { transition: all .5s; -webkit-transition: all .5s; position: relative; left: 0; }
/*筛选*/
.select { position: fixed; background-color: white; left: 0; top: 0; width: 100%; height: 100%; }
.select h3 { text-align: center; background-color: white; height: 40px; line-height: 40px; border-bottom: 1px solid #dedede; color: #333; font-weight: 700; font-size: 16px; }
.close, .close1 { right: 20px; top: 8px; cursor: pointer; color: #999; font-size: 16px; }
.select-content { padding: 20px 10px 30px; color: #999; }
.select-content label { display: inline-block; margin-bottom: 5px; font-weight: 700; }
.select-content select { width: 100%; font-size: 16px; color: #555; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; background: url("../images/select.svg") 100% center no-repeat #fff; -webkit-appearance: none!important; }
.select-content select option { font-size: 16px; }
.select-content input[type="submit"] { background-color: #339EE2; color: white; width: 100%; padding: 10px 0; }



/*我也要出租*/
.join { padding: 10px; }
.join img { width: 100%; height: auto; max-width: 100%; }
.join label { display: inline-block; margin-bottom: 5px; font-weight: 700; }
.join label span { font-weight: normal; }
.join input { width: 100%; font-size: 18px; color: #555; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-sizing: border-box; }
.join select { width: 100%; font-size: 16px; color: #555; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; background: url("../images/select.svg") 100% center no-repeat #fff; -webkit-appearance: none!important; }
.join select option { font-size: 16px; }
.join input[type="submit"] { background-color: #339EE2; color: white; width: 100%; padding: 10px 0;border-radius:5px; }



.bj{width:100%;min-width:320px;height:100%; margin:0px auto; top:0px; bottom:0px; left:0px; right:0px;}
.index_bj {width: 100%;height:auto; min-width: 320px;margin: 0px auto;position: absolute;z-index: -2;top: 0px;bottom: 0px;left: 0px;right: 0px;}
.logo{margin:0px auto;text-align:center;}
.about{width:96%;margin:0px auto;}
.abtit{height:30px;width:98%;position:relative;}
.abtit em{background:#53b02b;width:6px;height:24px;display:block;position:absolute;left:10px;top:0px;}
.abtit span{font-size:24px;line-height:24px;padding-left:25px;color:#333;}
.abtit i{color:#ff0000;font-size:14px;}
.text{color:#fff;font-size:14px;}

.psearch{}
.psearch p{line-height:35px;font-size:16px;color:red;font-weight:bold;}

.admin { width:98%;overflow:hidden;margin:30px auto;color:#fff;}
.admin li{width:49.5%;float:left;margin-right:1%;height:150px;position: relative;-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;margin-bottom:10px;overflow:hidden;}
.admin li:nth-child(2n){margin-right:0px;}
.admin li h3{color:#fff;font-weight:bold;font-size:18px;line-height:35px;}
.admin li a{width:100%;display:inline-block;color:#fff;padding:10px;}
.admin li.search{width:100%;background:#785b3b;margin-right:0px;clear:both;}
.f {background-color: #36A1DB; }
.h {background-color: #81B637;}
.a {background-color: #E57E22;}
.p {background-color: #7E54DC;}
.t {background-color: #678FCF;}
.m {background-color: #E3B607;}

.red {font-size:16px;font-weight:bold;padding:0px 4px;}