@using ServiceProject;
@{
    ViewBag.Title = "设计管理";
    UserService USer = new UserService();
    var SonLeve = USer.GetCurrentUserName().SonLeve;
}

<div class="box">
@if (SonLeve.Contains("SJ_KH") || SonLeve == "All")
{
    <div class="card fl mt20">
        <a href="@Url.Action("Index","SJ_KH")">
            <div class="card_text">
                <h4 class="card_title">销售-审核管理</h4>
                <p class="card_subtitle">料单、图纸上传等操作</p>
            </div>
            <div class="card_pic">
                <img src="~/bg/Department.png" alt="审核管理" />
            </div>
        </a>
    </div>
}@if (SonLeve.Contains("YTIndex") || SonLeve == "All")
{
    <div class="card fl ml20 mt20">
        <a href="@Url.Action("YTIndex","SJ_KH")">
            <div class="card_text">
                <h4 class="card_title">预投-审核管理</h4>
                <p class="card_subtitle">料单、图纸上传等操作</p>
            </div>
            <div class="card_pic">
                <img src="~/bg/Department.png" alt="审核管理" />
            </div>
        </a>
    </div>
}@if (SonLeve.Contains("SJ_HT") || SonLeve == "All")
{
    <div class="card fl ml20 mt20">
        <a href="@Url.Action("Index", "SJ_HT")">
            <div class="card_text">
                <h4 class="card_title">查看合同</h4>
                <p class="card_subtitle">查看合同的基本信息</p>
            </div>
            <div class="card_pic">
                <img src="~/bg/Position.png" alt="合同管理" />
            </div>
        </a>
    </div>
}
</div>