@model ModelProject.SearchModel
@{
    Layout = null;
}

<div class="psearch">

    <p>销售：@Model.SaleCount 件</p>

    <p>半成品库：@Model.SemiCount 件</p>

    <p>成品库：@Model.LabelsCount 件</p>

    <p>由于手机展示内容所限，更多详情请去页面端查看！</p>
</div>



