@{ Layout = null;}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>上海香凝工艺家具有限公司</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
    <link rel="stylesheet" href="css/demos.css">
    <link rel="stylesheet" href="css/sm-extend.min.css">

</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <h1 class="title">香凝工艺</h1>
            </header>
            <div class="content">
                <div class="content-block row">
                    <div class="col-50"><a href="#" class="button pb-standalone">Standalone</a></div>
                    <div class="col-50"><a href="#" class="button pb-popup">Popup</a></div>
                </div>
                <div class="content-block"><a href="#" class="button pb-standalone-captions">With Captions</a></div>
                <div class="content-block"><a href="#" class="button pb-standalone-video">With Video</a></div>
            </div>
        </div>
    </div>
    <script src="js/zepto.js"></script>
    <script src="js/config.js"></script>
    <script src="js/sm.js"></script>
    <script src="js/sm-extend.js"></script>
    <script src="js/sm-city-picker.js"></script>
    <script src="js/demos.js"></script>
    <script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>



</body>
</html>