<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XNERPEntities" connectionString="metadata=res://*/XNERPModel.csdl|res://*/XNERPModel.ssdl|res://*/XNERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=XNERP;user id=yexinfeng;password=LuoYuTing#1127$1986;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNHREntities" connectionString="metadata=res://*/XNHR.csdl|res://*/XNHR.ssdl|res://*/XNHR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=EHR821_201711;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNDYEntities" connectionString="metadata=res://*/XNDYModel.csdl|res://*/XNDYModel.ssdl|res://*/XNDYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=XNDY;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNFinanceEntities" connectionString="metadata=res://*/XNFKModel.csdl|res://*/XNFKModel.ssdl|res://*/XNFKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=XNFinance;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>