*{padding:0px;margin:0px;}
.admintop{width:100%;height:56px;/*background:#ad342f;position:fixed;top:0px;z-index:99999;*/background:#27303f;}
.admintop .adminnav{position:relative;}
.admintop .adminnav .logotit{position:absolute;left:0px;top:0px;line-height:50px;}

.admintop .adminnav .menu{position:absolute;left:200px;top:0px;}
.admintop .adminnav .menu li{margin-left:40px;font-size:16px;line-height:52px;float:left;}
.admintop .adminnav .menu li span{color:#c5c9cf;}
.admintop .adminnav .menu li:hover span{color:#fff;}
.admintop .adminnav .menu li.selected span{color:#fff !important;}

.admintop .adminnav .user{width:180px;height:56px;position:absolute;right:0px;top:0px;background:url(../bg/u_admin.png) no-repeat center left;line-height:54px;}
.admintop .adminnav .user span{color:#c5c9cf;font-size:16px;padding-left:40px;}

.box{width:1200px;margin:0px auto;}
.mainbox{width:96%;margin:0px auto;}
.mainbox .view{display:block;background-color:#fff;border-radius:3px;padding-bottom:40px;}
.mainbox .view .small_box{padding:15px;margin:0px 15px;}
.mainbox .view .small_box .boxtit{background:url(../bg/titbg.png) no-repeat center left;height:40px;line-height:40px;}
.mainbox .view .small_box .boxtit span{padding-left:40px;color: #27303f;font-size:16px;}

.tabletit{position:relative;width:100%;height:800px;border-collapse:collapse;border:none;empty-cells:show;text-align:center;overflow-x:scroll;}
.tabletit td{height:50px;width:120px;color:#666;}
.tabletit .tleft{width:400px;border-collapse:collapse;border:none;}
.tabletit .tleft td{font-size:14px;text-align:center;border:1px solid #d1d1d1;}.tabletit .fb{background:#f5f5f5;font-weight:bold;}

.tabletit .tright{table-layout:fixed;border-collapse:collapse;border:none;width:739px;}
.tabletit .tright td{width:80px;border:1px solid #d1d1d1;}

.xTablelist{width:100%;border-collapse: collapse;background:#fafafa;color: #666;table-layout:fixed;}
.xTablelist .fb{height:40px}
.xTablelist .fb th{font-size:16px;text-align:center;display:table-cell;background:#f5f5f5;border:1px solid #d1d1d1;}
.xTablelist  td{font-size:14px;text-align:center;height:50px;border:1px solid #d1d1d1;color:#666;}
.xTablelist tr{padding-left: 10px;margin-bottom: 2px;color: #333;line-height: 22px;border-bottom: 1px dashed #ccc;display:table-row;}

.card_report{width:582px;height:280px;overflow:hidden;border:1px solid #dedede;border-radius:3px;}
.card_report .card_report_pic{width:582px;height:280px;display:block;background:#fff;transition:all ease 1s; -webkit-transition:all ease 1s ;}
.card_report .card_report_pic:hover{transform:scale(1.3);-webkit-transform: scale(1.3);transition: all .8s ease 0s;-webkit-transform: all .8s ease 0s;}
.card_report .card_report_pic img{width:582px;height:280px;}

.card{width:280px;height:280px;border:1px solid #dedede;border-radius:3px;background:#fff;overflow:hidden;float:left}
.card .card_text{padding: 0 20px;}
.card .card_text .card_title{height:45px;font-size:18px;color:#333;line-height:57px;}
.card .card_text .card_subtitle{height:45px;font-size:14px;color:#999;line-height:20px;}
.card .card_pic{overflow:hidden;width:280px;height:280px;display:block;}
.card .card_pic img{transition:all ease 1s; -webkit-transition:all ease 1s ;}
.card a:hover .card_pic img{transform:scale(1.3);-webkit-transform: scale(1.3);transition: all .8s ease 0s;-webkit-transform: all .8s ease 0s;}


/*当前位置*/
.currpoint{width:100%;height:50px;line-height:50px;font-size:16px;}
.currpoint a{color:#999;}
.currpoint a.crrtab{color:#f55567;}

.search{width:100%;margin:0px auto;}
.searchtab {margin-left:20px;width:100%;}
.searchtab li {float:left;width:95px;height:30px;line-height:30px;cursor:pointer;font-size:14px;text-align:center;color:#000;background:url(../bg/searchtabbg.png) no-repeat;margin-bottom:-1px;}
.searchtab li.current {color:#f56276;text-align:center;}

.searchbox{border:1px solid #bebebe;margin:0px auto;min-height:70px;background:#fff;border-radius:3px;}

.addmain{width:660px;margin:0px auto;}

.form .form_item{float:left;width:400px;height:44px;line-height:44px;overflow:hidden;margin-top:10px;}
.form .form-item-submit{clear:both;}

.form .item{height:44px;line-height:44px;}
.form .harfitem{width:50%;float:left;}
.form .label{float:left;width:25%;text-align:right;color:#666;display:inline-block;}
.form .label em{color:#FF0000;padding:1px 3px;font-style:normal;}
.form .form-field{float:right;width:75%;display:inline-block;}
.form .form-field .inputtext{border:1px solid #e3e3e3;border-radius:3px;height:30px;line-height:30px;min-width:250px;padding-left:10px;color:#888;}
.form .form-field .sputtxt{border:1px solid #e3e3e3;border-radius:3px;height:30px;line-height:30px;min-width:100px !important;padding-left:10px;color:#888;}
.form .form-field .drotext{border:1px solid #e3e3e3;border-radius:3px;height:34px;line-height:34px;min-width:180px !important;padding-left:10px;color:#888;}
.form .form-field .sdrotext{border:1px solid #e3e3e3;border-radius:3px;height:34px;line-height:34px;min-width:80px !important;padding-left:10px;color:#888;}
.form .form-field .drotext option{line-height:40px;}
.form .form-field .sdrotext option{line-height:40px;}
.form .submitbtn{height:34px;line-height:34px !important;background:#f56276;width:100%;font-size:16px;display:inline-block;border-radius:4px;color:#fff !important;text-align: center;}


.mod{background-color:#f8f8f8;width:100%;margin:0px auto;}
.mod.normal{border:1px solid #e1e1e1;}
.mod .hd{height:50px;border-bottom:1px #e1e1e1 solid;}
.mod .hd .filter {float:right;padding:8px 10px 0 0;}
.mod .hd .filter li{float: left;margin-left: 6px;}
.mod .hd .filter li .btn{display:inline-block;padding:8px 15px;border-radius:4px;}
.mod .hd h2{float:left;font-size:14px;padding-left:10px;line-height:46px;color:#5F5F5F;}


.xTable{clear:both;float:none;width:100%;margin:0px auto;}
.xTable:after{content:"\20";display:block;height:0;clear:both;}
.xTable table{table-layout:fixed;border-collapse:collapse;border-spacing:0px;width:100%;}
.xTable table tr:hover td{background-color:#FFF6B8;}
.xTable table tr.odd{background:#fff;}
.xTable table tr.odd:hover td{}
.xTable table tr.even{background:#f2f6ff;}
.xTable table tr.even:hover td{}
.xTable table th{background-color:#f5f5f5;}
.xTable table .fb{background:#fdfdff;height:30px;line-height:30px;}
.xTable table th,.xTable table td{display:table-cell;border:1px #bebebe solid;margin-top:-1px;padding:7px 5px;text-align:center;+padding:5px 0px;}
.xTable table td{color:#666;font-size:12px;}
.xTable table td.tl{text-align:left!important;}
.xTable table td.tr{text-align:right!important;}
.xTable table td.tc{text-align:right!important;}
.xTable table td .tw{height:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all;}
.xTable table td .textwarp{overflow:hidden;word-break:break-all;vertical-align:middle;}
.xTable table td .mxh100{max-height:100px;}
.xTable table td a{color:#4292BB!important;padding-left:10px;}
.xTable table td a:hover{color:#FF8F00!important;}

/* pages */
.pagelist{width:100%;background:url(../bg/Tab_bg.jpg) repeat-x;height:48px;margin:0px auto;}
.pages{clear:both;padding:10px 0;padding-right:10px;height:30px;overflow:hidden;position:relative;}
.pages:after{content:"\20";display:block;height:0;clear:both;}
.pages .total{float:left;padding-left:10px;font-size:12px;color:#666;line-height:26px;}
.pages .goto{float:right;position:absolute;right:30px;top:10px;}
.pages ul{padding-left:10px;position:absolute;right:80px;top:10px;}
.pages ul li{float:left;}
.pages ul li a{display:block;padding:0px 10px;margin-left:-1px;height:25px;line-height:25px;border:1px #ccc solid;background:#F2F2F2;color:#666;text-decoration:none;z-index:2;cursor:pointer;}
.pages ul li a:hover,.pages ul li a.selected{color:#fff;border-color:#f69200;background:#faa201;position:relative;}
.pages .static{position:absolute;right:10px;top:10px;z-index:2;background:#fff;min-width:100px;max-width:250px;height:26px;overflow:hidden;text-align:right;}
.pages .static a{color:#2981e1;margin-top:5px;float:right;margin-right:10px;}
.pages .btnExport{background:url(../images/ico_excel.png) 0 50% no-repeat;padding-left:18px;}


.picreload{height:80px;width:200px;min-width:50px;display:block;border:1px solid #e3e3e3;cursor:pointer;}
